body {
    font-family: sans-serif, Helvetica, sans-serif;
    font-size: 16px;
}

div {
    margin: 20px;
}

#links_div {
    margin-top: 10vh;
    min-height: 100px;
    text-align: right;
}

.link {
    margin: 5px;
    margin-right: 15px;
    padding: 5px;
    text-decoration: none;
    color: gray;
    display: block;
}

.link:hover {
    color: black;

}

#google_logo {
    width: 90vw;
    max-width: 400px;
    margin: auto;
    display: block;
}


#mainForm input[type="text"],
#button_box {
    display: block;

    height: 40px;
    margin: 30px auto;
}

#mainForm input[type="text"] {
    border-radius: 20px;
    width: 80vw;
    max-width: 700px;
    border: 1px solid lightgray;
    outline: none;
    font-size: 20px;
    padding-left: 30px;
}

#button_box {
    width: 345px;


}

#mainForm input[type="submit"],
#mainForm input[type="submit"][name="btnI"] {
    width: 150px;
    margin: 0px 10px;
    border-radius: 7px;
    padding: 10px 20px;
    background-color: #dfdfdf;
    color: rgb(48, 48, 48);
    border: 1px solid white;
    cursor: pointer;

}

#mainForm>input[type="submit"] {
    display: block;
    margin: 0px auto;
}


#mainForm input[type="submit"]:hover {
    border: 1px solid gray;
}